aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
asgiref==3.9.2
attrs==25.3.0
Django==5.2.7
frozenlist==1.7.0
idna==3.10
markdown-it-py==4.0.0
mdurl==0.1.2
multidict==6.6.4
narwhals==2.6.0
packaging==25.0
plotly==6.3.1
propcache==0.3.2
Pygments==2.19.2
rich==14.1.0
sqlparse==0.5.3
yarl==1.20.1
