{%extends 'broadcast/base.html'%}
    {%block content%}
    <p><a href="{%url 'learning_logs:topics'%}">Back</a></p>

    <h4>Hello {{user}} <span>- Broadcast</span></h4>
    <pre>
        
    <p>This area would serve as latest reports using API
        once you have developed your skills on API
        from the book. You will apply it here, to display
        annual reports especially when you work on your 
        blog or social service project soon...

        Also don't forget to consider a report page like
        one should be for users to make reports(it should be
        at the learning_logs app), the another for viewing of
        users' report(should be a seperate app on it's own).
    </p>
    </pre>
    {%endblock content%}