{% extends 'learning_logs/base.html'%}
{% block content%}
    <h1>Welcome to learning logs</h1>
    <p>The best place you can store and get your information
        at the tip of your fingers :).
    </p>
        <details>
            
        <summary>Site Details</summary>
        <pre>
        Site is still under construction,
        Credit is given to God first,
        i also want to acknowledge my teacher Eric Matthes form
        Python crash course, he's a good writer and
        i truly recommed his books
        </pre>
        </details>
    {% endblock content%}
