{% extends 'learning_logs/base.html' %}

  {% block content %}
  {% if user.is_superuser or user.is_staff%}
    <p><a href="{%url 'broadcast:index'%}">Broadcast</a></p>
    <p><a href="{%url 'reports:index'%}">Reports</a></p>
  {%endif%}

  <p class="ul">Announcement!!!</p>
  <ul>
  {%for bc in broadcast%}
      <li><a href="{%url 'learning_logs:announcements' bc.id%}">{{bc}}</a></li>
      {%empty%}
      No announcements for today
    {%endfor%}
  </ul>
    <p><a href="{%url 'learning_logs:new_topic'%}"> new topic </a></p>
    <ul>
    {% for topic in topics %}
        <li><a href='{% url "learning_logs:topic" topic.id%}'> {{topic}} </a></li>
    {% empty %}
        <li>You haven't made any Topic yet</li>
    {% endfor %}
    </ul>
    

  {% endblock content%}
